html, body {margin: 0; padding: 0; overflow-x: hidden;}
p {word-break: keep-all;}
/*헤더 부분*/
.header-wrap {position: fixed; display: flex; justify-content: space-between; align-items: center; width: calc(100% - 40px); padding: 0 20px; z-index: 1;}
.header-wrap .logo {display: flex; align-items: center; width: 240px; height: 70px;}
.header-wrap .logo .logo-link {display: flex; align-items: center; max-width: 100%; height: 100%; padding: 5px 20px; font-size: 25px; font-weight: 900; line-height: 30px; text-align: center; color: #86c2fa; border: 1px solid #86c2fa; border-radius: 30px; z-index: 5;}
.header-wrap .time-ko {display: flex; flex-direction: column; justify-content: center; align-items: center; width: auto; height: 100px;}
.header-wrap .time-ko .day {font-size: 20px; font-weight: 600; color:#86c2fa;}
.header-wrap .time-ko .time {font-size: 35px; font-weight: bold; line-height: 50px; color: #3f93d3;}
/*헤더 반응형*/
@media screen and (max-width: 768px) {
    .header-wrap .time-ko .day {font-size: 15px;}
    .header-wrap .time-ko .time {font-size: 20px;}
}
@media screen and (max-width: 600px) {
    .header-wrap {width: calc(100% - 20px); padding: 0 10px;}
}
@media screen and (max-width: 400px) {
    .header-wrap .time-ko {letter-spacing: -1px;}
    .header-wrap .time-ko .day {font-size: 13px;}
}
@media screen and (max-width: 360px) {
}

/*section1 부분*/
/*main페이지*/
.sc-banner {position: relative; top: 0; left: 0;}
.sc-banner .banner-video {display: flex; height: 100vh;}
.sc-banner .banner-video .video-content {width: 100%; height: 100vh; object-fit: cover;}
.sc-banner .banner-inner {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; flex-wrap: nowrap; flex-direction: column; justify-content: center; align-items: center; width: 100%;}
.sc-banner .banner-inner .title span {font-size: 50px; font-weight: bold; line-height: 50px; color: #3f93d3; letter-spacing: 5px; font-family: 'Retrosans', sans-serif !important; text-shadow: 0 3px 9px #5e9fca, 3px -3px 0 #0f4a6d; overflow: hidden;}
.sc-banner .banner-inner .sub-title {padding-top: 40px;}
.sc-banner .banner-inner .sub-title span {font-size: 20px; font-weight: 900; line-height: 40px; color: #c2e8ff;}
.sc-banner .banner-inner .sub-text {padding-top: 60px;}
.sc-banner .banner-inner .sub-text span {font-size: 15px; font-weight: 900; line-height: 20px; color: #9bb4c4;} 
.sc-banner .banner-inner .sub-text .break {padding-left: 10px;}
.sc-banner .scroll-induce {position: absolute; left: 50%; top: 90%; transform: translateX(-50%); width: 20px; height: 30px; border: 2px solid rgb(255, 255, 255); border-radius: 50px;}
.sc-banner .scroll-induce::before {content: ""; position: absolute; left: 50%; top: 4px; transform: translateX(-50%); width: 2px; height: 8px; background-color: rgb(255, 255, 255); animation: scrollMove 2s infinite;}
@keyframes scrollMove {
    0% {-webkit-transform: translate(-50%, 0); opacity: 0;}
    40% {opacity: 1;}
    80% {-webkit-transform: translate(-50%, 8px); opacity: 0;}
    100% {opacity: 0;}
}

/*section1 반응형*/
@media screen and (max-width: 1280px) {
    .sc-banner .banner-inner .title span {font-size: 36px;}
}

@media screen and (max-width: 1024px) {
    .sc-banner .banner-inner .title span {font-size: 24px; letter-spacing: 0;}
}
@media screen and (max-width: 600px) {
    .sc-banner .banner-inner .title {display: flex; align-items: center; justify-content: center; text-align: center; width: 100%;}
    .sc-banner .banner-inner .title span {display: inline-block; text-align: center;}
    .sc-banner .banner-inner .sub-title {text-align: center;}
    .sc-banner .banner-inner .sub-title .break {display: block;}
    .sc-banner .banner-inner {width: 100%; margin: 5px; flex-wrap: wrap;}
    .sc-banner .title {display: flex; align-items: center; justify-content: center;}
}
@media screen and (max-width: 450px) {
    .sc-banner .banner-inner .sub-text {text-align: center;}
    .sc-banner .banner-inner .sub-text .break {display: block;}
}

/*section2 부분*/
/*about*/
.sc-about .about {position: relative; height: 100%; background-color: #2a606a;}
.about .about-wrap {padding: 100px;}
.about-wrap .about-title {display: flex; justify-content: space-between; align-items: center; width: 100%;}
.about-wrap .about-title .title-name {display: flex; align-items: center; width: 100%; font-size: 64px; font-weight: 900; color: #0a1c2d; text-wrap: nowrap; text-shadow: 2px 2px 4px rgba(255, 255, 255, 1), -1px -1px 4px rgba(255, 255, 255, 1);}
.about-wrap .about-title img {width: 100px; height: 100px; padding-right: 60px;}
.about-wrap .about-list {padding: 50px 100px;}
.about-wrap .about-list .about-main {display: flex; justify-content: center}
.about-wrap .about-list .left-info {display: flex; flex-direction: column; padding-right: 200px;}
.about-wrap .about-list .left-info .info-img img {width: 350px; height: 500px;}
.about-wrap .about-list .left-info .introduce {display: flex; align-items: center; width: 326px; padding: 22px 10px; border: 2px solid #0f4a6d; background-color: rgb(15, 74, 109, 0.2);}
.about-wrap .about-list .left-info .introduce .list {font-size: 20px; padding-bottom: 40px;}
.about-wrap .about-list .left-info .introduce .list:last-child {padding-bottom: 0;}
.about-wrap .about-list .left-info .introduce .list .list1-1 {font-weight: 900; color: #0a1c2d;}
.about-wrap .about-list .left-info .introduce .list .list1-1 .list-text {line-height: 30px; letter-spacing: 2px; color: #02132b;}
.about-wrap .about-list .left-info .introduce .list .point {color: #ff6384; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), -2px -2px 4px rgba(0, 0, 0, 0.7);}
.about-wrap .about-list .about-mbti .mbti-container {display: flex; margin-bottom: 40px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti {display: flex; flex-direction: column; align-items: center; justify-content: center; height: 480px; padding: 10px; margin-right: 10px; font-weight: 900; color: #21252c; border: 2px solid #fff; border-radius: 15px; background-color: rgba(255, 255, 255, 0.3);}
.about-wrap .about-list .about-mbti .mbti-container .mbti img {display: block; width: 177px; padding: 40px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti .title {padding-left: 20px; font-size: 30px; font-weight: 950; letter-spacing: 20px; text-shadow: 2px 2px 5px #fff;}
.about-wrap .about-list .about-mbti .mbti-container .mbti .sub-title {padding-left: 10px; font-size: 24px; font-weight: 950; letter-spacing: 10px; text-shadow: 2px 2px 5px #fff;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list {display: block; width: 300px; padding: 30px 10px; border: 2px solid #fff; border-radius: 15px; background-color: rgba(255, 255, 255, 0.3);}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .progress-item {padding-bottom: 30px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .progress-item:last-child {padding-bottom: 0;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .progress-item .item-bar {position: relative; height: 10px; border-radius: 15px; margin: 10px 0;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .progress-item .item-bar .bar-dot {position: absolute; width: 15px; height: 15px; border: 1px solid #fff; border-radius: 15px; background-color: #fff;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .progress-item .item-bar .bar-dot .dot {position: absolute; top: 3px; left: 3px; width: 7px; height: 7px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .progress-item .item-main .item-percent span {padding-left: 5px; font-weight: 900; color: #21252c}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .progress-item .item-sub {display: flex; justify-content: space-between; font-weight: 900; color: #4e4e4e}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .progress-item .item-sub .select {color: #21252c;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item1 .item-main .item-percent {display: flex; width: 100px; padding-left: 80px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item1 .item-bar .bar-dot {top: -3px; left: 100px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item1 .item-bar .bar-dot .dot {border:1px solid #4298b4; border-radius: 15px; background-color: #4298b4;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item1 .item-main .item-bar {border: 1px solid #4298b4; background-color: #4298b4;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item1 .item-main .item-percent .color-blue {font-size: 14px; color: #4298b4;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item2 .item-main .item-percent {display: flex; width: 100px; padding-left: 130px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item2 .item-bar .bar-dot {top: -3px; left: 150px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item2 .item-bar .bar-dot .dot {border:1px solid #e4ae3a; border-radius: 15px; background-color: #e4ae3a;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item2 .item-main .item-bar {border: 1px solid #e4ae3a; background-color: #e4ae3a;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item2 .item-main .item-percent .color-blue {font-size: 14px; color: #e4ae3a;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item3 .item-main .item-percent {display: flex; width: 100px; padding-left: 140px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item3 .item-bar .bar-dot {top: -3px; left: 160px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item3 .item-bar .bar-dot .dot {border:1px solid #33a474; border-radius: 15px; background-color: #33a474;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item3 .item-main .item-bar {border: 1px solid #33a474; background-color: #33a474;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item3 .item-main .item-percent .color-blue {font-size: 14px; color: #33a474;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item4 .item-main .item-percent {display: flex; width: 100px; padding-left: 90px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item4 .item-bar .bar-dot {top: -3px; left: 128px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item4 .item-bar .bar-dot .dot {border:1px solid #88619a; border-radius: 15px; background-color: #88619a;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item4 .item-main .item-bar {border: 1px solid #88619a; background-color: #88619a;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item4 .item-main .item-percent .color-blue {font-size: 14px; color: #88619a;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item5 .item-main .item-percent {display: flex; width: 100px; padding-left: 180px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item5 .item-bar .bar-dot {top: -3px; left: 200px;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item5 .item-bar .bar-dot .dot {border:1px solid #f25e62; border-radius: 15px; background-color: #f25e62;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item5 .item-main .item-bar {border: 1px solid #f25e62; background-color: #f25e62;}
.about-wrap .about-list .about-mbti .mbti-container .mbti-progress .mbti-progress__list .item5 .item-main .item-percent .color-blue {font-size: 14px; color: #f25e62;}
.about-wrap .about-list .about-main .about-right {display: flex; flex-direction: column; justify-content: center; align-items: center;}
.about-wrap .about-list .about-main .about-right .about-radar {max-width: 400px; min-width: 200px; max-height: 400px; min-height: 200px; padding: 0 30px; border: 1px solid #ffffff; border-radius: 15px; background-color: rgba(255, 255, 255, 0.3);}
canvas {height: auto; max-width: 100%;}

/*section2 반응형*/
@media screen and (max-width: 1280px) {
    .about-wrap .about-list .about-main {display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .about-wrap .about-list .left-info {padding: 0 0 50px;}
}
@media screen and (max-width: 768px) {
    .about-wrap {padding: 20px;}
    .about-wrap .about-title {padding: 50px 0;}
    .about-wrap .about-title .title-name {font-size: 40px; padding: 0;}
    .about-wrap .about-list .about-mbti .mbti-container {display: flex; flex-direction: column;}
    .about-wrap .about-list .about-mbti .mbti-container .mbti {width: 300px; margin: 0;}
}
@media screen and (max-width: 360px) {
    .about-wrap .about-list .about-main .about-right .about-radar {padding: 0 20px;}
}

/*section3 부분*/
.sc-info {display: block; height: auto; background-color: #2a606a;}
/*favorite*/
.favorite-wrap {padding: 50px 100px;}
.favorite-wrap .favorite .favorite-title {display: flex; align-items: center; justify-content: space-between; width: 100%;}
.favorite-wrap .favorite .favorite-title .title-name {display: flex; align-items: center; width: 100%; font-size: 64px; color: #0a1c2d; text-wrap: nowrap; text-shadow: 2px 2px 4px rgba(255, 255, 255, 1), -1px -1px 4px rgba(255, 255, 255, 1);}
.favorite-wrap .favorite .swiper {display: flex; flex-direction: column; align-items: center; justify-content: center; height: 500px; padding-top: 50px;}
.favorite-wrap .favorite .swiper .swiper-slide {display: flex; flex-direction: column; align-items: center;}
.favorite-wrap .favorite .swiper .swiper-slide .slide-img {width: 420px; height: 200px;}
.favorite-wrap .favorite .swiper .swiper-slide .slide-img img {width: 100%; height: 100%;}
.favorite-wrap .favorite .swiper .swiper-slide .slide-text {width: 420px; padding-top: 20px;}
.favorite-wrap .favorite .swiper .swiper-slide .slide-text .text-title {color: #0a1c2d; text-wrap: nowrap; text-shadow: 2px 2px 4px rgba(255, 255, 255, 1), -1px -1px 4px rgba(255, 255, 255, 1);}
.favorite-wrap .favorite .swiper .swiper-slide .slide-text .text-info {padding-top: 10px; font-size: 18px; line-height: 20px; color: #c2e8ff;}
.favorite-wrap .favorite .swiper .swiper-pagination {position: absolute;}
.favorite-wrap .favorite .swiper .swiper-pagination .swiper-pagination-bullet {margin-left: 20px; padding: 2px; background-color: #fff; opacity: 0.5;}
.favorite-wrap .favorite .swiper .swiper-pagination .swiper-pagination-bullet.on {background-color: #001222; opacity: 1;}
/*skill*/
.skill-wrap .skill-container {padding: 50px 100px; padding-bottom: 200px;}
.skill-wrap .skill-container .skill-title {font-size: 64px; color: #0a1c2d; text-shadow: 2px 2px 4px rgba(255, 255, 255, 1), -1px -1px 4px rgba(255, 255, 255, 1);}
.skill-wrap .skill-container .skill {display: flex; align-items: center; justify-content: center; padding-top: 50px;}
.skill-wrap .skill-container .skill .skill-list {display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 25px;}
.skill-wrap .skill-container .skill .skill-circle {position: relative; display: flex; align-items: center; justify-content: center; width: 200px; height: 200px; margin: 0 50px;} 
.skill-wrap .skill-container .skill .skill-circle .outer-ring {position: absolute; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; border-radius: 50%;}
.skill-wrap .skill-container .skill .skill-circle .outer-ring .inner-ring {display: flex; align-items: center; justify-content: center; width: 190px; height: 190px; border-radius: 50%; background: rgba(0, 0, 0, 0.3);}
.skill-wrap .skill-container .skill .skill-circle .outer-ring .inner-ring .circle-text {display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100px; height: 100px; font-size: 22px; font-weight: bold; color: #fff; text-align: center; background-color: #333; border-radius: 50%; box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);}
.skill-wrap .skill-container .skill .skill-circle .outer-ring .inner-ring .circle-text .circle-percent {font-size: 36px;}
.skill-wrap .skill-container .skill .skill-circle .outer-ring .inner-ring .circle-text .circle-percent span {font-size: 18px;}
.skill-wrap .skill-container .skill .skill-circle .outer-ring .inner-ring .circle-text .circle-label {font-size: 14px; margin-top: 5px;}
.skill .html .circle-text {border: 5px solid #dd6547;}
.skill .css .circle-text {border: 5px solid #3959da;}
.skill .js .circle-text {border: 5px solid #d6c157;}
.skill-wrap .skill-container .skill .skill-list .skill-text .skill-info {display: flex; align-items: center; justify-content: center; height: 100px; padding: 20px; margin: 30px 0; font-size: 18px; line-height: 22px; color: #c2e8ff; border: 3px solid #0a1c2d; border-radius: 20px; background-color: rgba(0, 11, 43, 0.76);}

/*section3 반응형*/
@media screen and (max-width: 1280px) {
    .favorite-wrap .favorite .swiper .swiper-slide {display: flex;}
    .favorite-wrap .favorite .swiper .swiper-slide .slide-img {width: 400px; height: 200px;}
    .favorite-wrap .favorite .swiper .swiper-slide .slide-text {width: 400px;}
    .sc-skill .skill-container .skill {display: flex; flex-direction: column;}
    .sc-skill .skill-container .skill .skill-list {padding-bottom: 50px;}
    .skill-wrap .skill-container .skill .skill-list .skill-text .skill-info {margin: 50px 0 0 0;}
}
@media screen and (max-width: 1024px) {
    .favorite-wrap .favorite .swiper .swiper-slide .slide-img {width: 250px; height: 125px;}
    .favorite-wrap .favorite .swiper .swiper-slide .slide-text {width: 250px;}
    .skill-wrap .skill-container .skill {flex-direction: column;}
}
@media screen and (max-width: 768px) {
    .favorite-wrap {padding: 80px 20px;}
    .favorite-wrap .favorite .favorite-title {padding: 50px 0;}
    .favorite-wrap .favorite .favorite-title .title-name {font-size: 40px;}
    .favorite-wrap .favorite .swiper .swiper-slide .slide-img {width: 400px; height: 200px;}
    .favorite-wrap .favorite .swiper .swiper-slide .slide-text {width: 400px;}
    .swiper .swiper-pagination {padding-top: 50px;}
    .skill-wrap .skill-container {padding: 80px 20px;}
    .skill-wrap .skill-container .skill-title {font-size: 40px;}
}
@media screen and (max-width: 480px) {
    .favorite-wrap .favorite .swiper .swiper-slide .slide-img {width: 300px; height: 150px;}
    .favorite-wrap .favorite .swiper .swiper-slide .slide-text {width: 300px;}
}
@media screen and (max-width: 400px) {
    .skill-wrap .skill-container .skill .skill-list .skill-text .skill-info {display: none;}
    .skill-wrap .skill-container .skill .skill-circle {display: flex; align-items: center; margin: 0;}
}

/*section4 부분*/
/*project*/
.sc-project .project-wrap {background: url('../img/main/section-bg5.jpg') no-repeat center / cover; height: 100%; padding: 200px 100px 305px;}
.project-wrap .project-title {padding-bottom: 100px; font-size: 64px; color: #0a1c2d; text-shadow: 2px 2px 4px rgba(255, 255, 255, 1), -1px -1px 4px rgba(255, 255, 255, 1);}
.project-wrap .project-list {padding: 0 200px;}
.project-wrap .project-list .project-item {position: relative; display: flex; justify-content: space-between; height: 100%; padding: 80px; margin-bottom: 60px; border: 1px solid rgba(255, 255, 255, 0.5); border-radius: 30px; background-color: rgba(255, 255, 255, 1);}
.project-wrap .project-list .project-item .item-txt {display: flex; flex-direction: column; justify-content: space-between;}
.project-wrap .project-list .project-item .item-txt .item-num {font-size: 70px; color: rgba(38, 46, 64, 0.5);}
.project-wrap .project-list .project-item .item-txt .txt .item-title {font-size: 36px; margin-bottom: 30px; color: #131b28;}
.project-wrap .project-list .project-item .item-txt .txt .item-tools {display: flex; margin-bottom: 20px;}
.project-wrap .project-list .project-item .item-txt .txt .item-tools .tool {padding-right: 10px; font-weight: 900; color: rgba(38, 46, 64, 0.5)}
.project-wrap .project-list .project-item .item-txt .txt .item-tools .tool:first-child {color: #292f38;}
.project-wrap .project-list .project-item .item-txt .txt .info-txt {margin-bottom: 20px; font-weight: 900; color: #292f38; line-height: 24px;}
.project-wrap .project-list .project-item .item-txt .txt .info-txt strong {font-size: 24px;}
.project-wrap .project-list .project-item .item-txt .txt .item-link {display: flex; justify-content: center; align-items: center; width: 80px; height: 24px; border: 1px solid #131b28; border-radius: 30px; background-color: #131b28; }
.project-wrap .project-list .project-item .item-txt .txt .item-link a {font-weight: 900; color: rgba(255, 255, 255, 0.7);}
.project-wrap .project-list .project-item .item-img {display: block; max-width: 400px; max-height: 300px; padding-bottom: 50px;}
.project-wrap .project-list .project-item .item-img img {width: 100%; height: 100%;}
.project-wrap .project-list .project-item .item-img .img-ready {opacity: 0.7;}

/*section4 반응형 부분*/
@media screen and (max-width: 1500px) {
    .project-wrap .project-list .project-item {display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 40px; margin-bottom: 100px;}
    .project-wrap .project-list .project-item .item-img {display: flex; justify-content: center; align-items: center; padding-top: 10px; padding-bottom: 0;}
    .project-wrap .project-list .project-item .item-txt .item-num {padding-bottom: 30px;}
}


@media screen and (max-width: 1024px) {
    .project-wrap .project-list {padding: 0 50px;}
    .project-wrap .project-list .project-item .txt {display: flex; flex-direction: column; justify-content: center; align-items: center;}
}
@media screen and (max-width: 768px) {
    .project-wrap .project-list {padding: 0;}
    .sc-project .project-wrap {padding: 100px 50px;}
    .project-wrap .project-title {font-size: 40px;}
    .project-wrap .project-list .project-item {padding: 20px;}
}
@media screen and (max-width: 455px) {
    .project-wrap .project-list .project-item {padding: 10px;}
    .project-wrap .project-list .project-item .item-txt .txt .item-tools {flex-direction: column;}
    .project-wrap .project-list .project-item .item-txt .txt .item-tools .tool {padding-bottom: 5px;}
}

/*footer부분*/
.footer {display: flex; flex-direction: column; background-color: #01121a;}
.footer .footer-wrap {display: flex; justify-content: space-between; padding: 100px;}
.footer-wrap .footer-left .name {padding-bottom: 50px;}
.footer-wrap .footer-left .name h3 {font-size: 64px; padding-bottom: 20px; color: #759cc5;}
.footer-wrap .footer-left .name .email {font-size: 36px; color: #3f93d3;}
.footer-wrap .footer-left .sns-list img {width: 100px; height: 100px; padding-right: 50px;}
.footer-wrap .footer-right {display: flex; flex-direction: column; align-items: center; justify-content: center;}
.footer-wrap .footer-right .footer-txt {padding: 15px 0; font-size: 24px; font-weight: 900; letter-spacing: 1px; color: #fff;}
.footer .copyright {display: flex; justify-content: center; align-items: center; width: 100%; margin-bottom: 20px; font-size: 18px; font-weight: 900; color: #aaaaaa;}

/*footer 반응형 부분*/
@media screen and (max-width: 1340px) {
    .footer-wrap .footer-left .name h3 {font-size: 54px;}
}
@media screen and (max-width: 1280px) {
    .footer .footer-wrap {padding: 100px 30px;}
    .footer-wrap .footer-left {width: 450px;}
    .footer-wrap .footer-left .name h3 {font-size: 48px;}
    .footer-wrap .footer-right .footer-txt .break {display: block;}
}
@media screen and (max-width: 1024px) {
    .footer .footer-wrap {display: flex; flex-direction: column; align-items: center; padding: 100px 20px;}
    .footer-wrap .footer-left {padding-bottom: 50px;}
    .footer-wrap .footer-left .name .eng-name {display: flex; flex-wrap: nowrap;}
    .footer-wrap .footer-right .footer-txt {display: flex;}
    .footer-wrap .footer-right .footer-txt .break {padding-left: 10px;}
}
@media screen and (max-width: 640px) {
    .footer-wrap .footer-right .footer-txt {display: flex; flex-direction: column; text-align: center;}
    .footer-wrap .footer-right .footer-txt .break {padding-left: 0;}
}
@media screen and (max-width: 600px) {
    .footer-wrap .footer-right .footer-txt {flex-direction: column; align-items: center; line-height: 30px;}
}
@media screen and (max-width: 480px) {
    .footer-wrap .footer-left .name {display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .footer-wrap .footer-left .sns-list {display: flex; justify-content: center; align-items: center;}
    .footer-wrap .footer-left .sns-list img {padding: 0;}
    .footer-wrap .footer-left .sns-list .sns-github {padding-right: 10px;}
    .footer-wrap .footer-left .name h3 {font-size: 36px;}
    .footer-wrap .footer-left .name .email {font-size: 24px;}
}
/*font*/
.header-wrap .logo .logo-link {font-family: 'Retrosans', sans-serif !important;}
.header-wrap .time-ko .day, .time{font-family: 'Retrosans', sans-serif !important;}
.sc-banner .sub-title span {font-family: 'Galmuri', sans-serif !important;}
.sc-banner .sub-text span {font-family: 'Galmuri', sans-serif !important;}
.about-wrap .about-list .left-info .introduce .list .list1-1 {font-family: 'Retrosans', sans-serif !important;}
.about-wrap .about-list .left-info .introduce .list .list1-1 .list-text {font-family: 'Retrosans', sans-serif !important;}
.about-wrap .about-title .title-name {font-family: 'IAMAPLAYER', sans-serif !important;}
.favorite-wrap .favorite .favorite-title .title-name {font-family: 'IAMAPLAYER', sans-serif !important;}
.skill-wrap .skill-container .skill-title {font-family: 'IAMAPLAYER', sans-serif !important;}
.project-wrap .project-title {font-family: 'IAMAPLAYER', sans-serif !important;}
.favorite-wrap .favorite .swiper .swiper-slide .slide-text .text-title {font-family: 'CookieRun-Regular', sans-serif !important;}
.favorite-wrap .favorite .swiper .swiper-slide .slide-text .text-info {font-family: 'CookieRun-Regular', sans-serif !important;}
.skill-wrap .skill-container .skill .skill-list .skill-text .skill-info {font-family: 'CookieRun-Regular', sans-serif !important;}
.project-wrap .project-list .project-item .item-txt .item-num {font-family: 'CookieRun-Regular', sans-serif !important;}
.project-wrap .project-list .project-item .item-txt .txt .item-title {font-family: 'CookieRun-Regular', sans-serif !important;}
.project-wrap .project-list .project-item .item-txt .txt .item-tools .tool span {font-family: 'CookieRun-Regular', sans-serif !important;}
.project-wrap .project-list .project-item .item-txt .txt .info-txt {font-family: 'CookieRun-Regular', sans-serif !important;}
.footer-wrap .footer-left .name h3 {font-family: 'CookieRun-Regular', sans-serif !important;}
.footer-wrap .footer-left .name .email {font-family: 'CookieRun-Regular', sans-serif !important;}
.footer-wrap .footer-right .footer-txt {font-family: 'CookieRun-Regular', sans-serif !important;}
.footer-wrap .footer-right .footer-txt .break {font-family: 'CookieRun-Regular', sans-serif !important;}